graph {  
  padding: 90px;
}

node {
  size: 30px;
  fill-mode: plain;   /* Default.          */
  fill-color: black;    /* Default is black. */
  stroke-mode: plain; /* Default is none.  */
  stroke-color: black; /* Default is black. */
  stroke-width: 1px;
  text-size: 14;
  text-alignment: center;
  text-color: white;
}

edge {
  arrow-shape: arrow;
  arrow-size: 5px;
  stroke-width: 1px;
  stroke-mode: plain;
  text-size: 12;
  text-background-mode: rounded-box;
  text-background-color: white;
}

edge.active {
  fill-color:   orange;
  stroke-color: orange;
}
node.init
{
  stroke-color: darkgray;
}
node.TRUE
{
  fill-color: darkgreen;
}
node.FALSE
{
  fill-color: darkred;
}
node.NA
{
  fill-color: orange;
}